<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>ようこそ<%= username %>さん</p>
    <h2>所持金:<%= possesion %>円</h2>
    <p><a href="/adddeposit">入金登録</a></p>
    <p><a href="/addproduct">買ったもの登録</a></p>
</body>
</html>